.navigation{
    padding: 10px 0px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    width: 80%;
} 
.navigation ul {
    width: 30%;
    display: flex;
}
.nav-link{
    color: white;
    border: 1px solid transparent;
    padding: 8px 15px;
    flex-grow:1;
    text-align: center;
    transition: all 0.3s ease ;
}   
.nav-link:hover{
    border-bottom: 1px solid white;
}
.active{
    background: rgb(255, 255, 255 , 0.2);
}
.nav-search{
    padding: 8px 15px;
    outline: none;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}
.nav-search:focus{
    border-bottom: 2px solid rgb(231, 44, 44);
}