.catalog-list{
    margin: 25px 0px;
}
.catalog-list__container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width: 80%;
    max-width: 1260px;
    margin: 0 auto;

}
.empty-wrapper{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}